In [1]:
import pandas as pd
import rdkit import Chem

In [18]:
data = pd.read_csv("data.csv");

/Users/daraakdag/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0,8,9,10,11,13,14,15,16,17,18,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
descriptors = pd.read_csv("descriptors.csv");

In [17]:
data.head()

   PUBCHEM_SID  PUBCHEM_ACTIVITY_SCORE
0          NaN                     NaN
1          NaN                     NaN
2          NaN                     NaN
3          NaN                     NaN
4          NaN                     NaN

In [19]:
data = data.loc[5:,['PUBCHEM_SID','PUBCHEM_ACTIVITY_SCORE']];

In [33]:
inactives= data.PUBCHEM_ACTIVITY_SCORE==0
actives= data.PUBCHEM_ACTIVITY_SCORE!=0

In [29]:
data.PUBCHEM_ACTIVITY_SCORE==0

5          True
6          True
7          True
8          True
9          True
10         True
11         True
12         True
13         True
14         True
15         True
16         True
17         True
18         True
19         True
20         True
21         True
22         True
23         True
24         True
25         True
26         True
27         True
28         True
29         True
30         True
31         True
32         True
33         True
34         True
          ...
377525     True
377526     True
377527     True
377528     True
377529     True
377530     True
377531     True
377532     True
377533     True
377534     True
377535     True
377536     True
377537     True
377538     True
377539     True
377540     True
377541     True
377542     True
377543     True
377544     True
377545     True
377546     True
377547     True
377548     True
377549     True
377550     True
377551     True
377552    False
377553     True
377554     True
Name: PUBCHEM_ACTIVITY_SCORE, Length: 377550, dtype: bool

(377550,)

In [28]:
actives.head()

   PUBCHEM_SID  PUBCHEM_ACTIVITY_SCORE
5          NaN                     NaN
6          NaN                     NaN
7          NaN                     NaN
8          NaN                     NaN
9          NaN                     NaN